@model LoginViewModel

@*<bs-panel class="col-md-offset-4 col-md-4">
        <div class="heading">Logovanje</div>
        <div class="body">

            <form [formGroup]="form">
                <field  label="Korisničko ime" [inputControl]="form.controls.userName">
                    <input type="text" formControlName="userName" />
                </field>

                <field  label="Lozinka" [inputControl]="form.controls.password">
                    <input type="text" formControlName="password"/>
                </field>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button-login (login)="onLogin()" [disabled]="!isFormValid()"></button-login>
                    </div>
                </div>
            </form>

            <!--<fw-form-horizontal>
                <fw-form-group for="UserName"></fw-form-group>
                <fw-form-group for="Password"></fw-form-group>

                <fw-submit-button text="Logovanje"></fw-submit-button>
            </fw-form-horizontal>-->

        </div>

    </bs-panel>

*@